# Define the prefix of container names
COMPOSE_PROJECT_NAME=covid19-bulgaria

# Networks driver to be used
NETWORK_DRIVER=bridge

# Volumes driver to be used
VOLUME_DRIVER=local

# PostgreSQL Credentials
POSTGRES_USER=covid19
POSTGRES_PASSWORD=covid19
POSTGRES_DB=covid19

# Covid Scraper
APP_ENV=development
RUBY_VERSION=2.7.0
COVID_SCRAPER_CODE_PATH_HOST=/home/User/covid-scraper
COVID_SCRAPER_CODE_PATH_CONTAINER=/usr/src/covid-scraper
COVID_STATS_PATH_HOST=/home/User/covid-stats
COVID_STATS_PATH_CONTAINER=/usr/src/covid-stats
COVID_DATABASE_PATH_HOST=/home/User/covid-database
COVID_DATABASE_PATH_CONTAINER=/usr/src/covid-database
REDIS_URL=redis://redis:6379/0
POSTGRES_HOST=database
POSTGRES_PORT=5432
